/ServicoIMC/nbproject/private/
/ServicoIMC/build/
/ServidorWeb/nbproject/private/
/ServidorWeb/build/
/HelloAppWeb/nbproject/private/
/HelloAppWeb/build/
/ServidorWebContaCaracteres/nbproject/private/
/ServidorWebContaCaracteres/build/
/ListaExeciciosEmServlets/Questao1/nbproject/private/
/ListaExeciciosEmServlets/Questao1/build/
/ListaExeciciosEmServlets/Questao2/nbproject/private/
/ListaExeciciosEmServlets/Questao2/build/
/ListaExeciciosEmServlets/Questao3/nbproject/private/
/ListaExeciciosEmServlets/Questao3/build/
/ListaExeciciosEmServlets/Questao5/nbproject/private/
/ListaExeciciosEmServlets/Questao5/build/
/ListaExeciciosEmServlets/Questao6/nbproject/private/
/ListaExeciciosEmServlets/Questao6/build/
/HelloJSF/nbproject/private/
/HelloJSF/build/
/ExemploBasicoPrimeFaces/nbproject/private/
/ExemploBasicoPrimeFaces/build/
/ListadeExerciciosJSF/IMC/nbproject/private/
/ListaExeciciosEmServlets/Questao1/dist/
/ListadeExerciciosJSF/IMC/build/
/ExemploAgendaDAO/nbproject/private/
/EchoService/nbproject/private/
/EchoService/build/
/ContadorLetras/nbproject/private/
/ContadorLetras/build/
/ZerCemServlets/nbproject/private/
/ZerCemServlets/build/
/QuadradoMagicoJSP/nbproject/private/
/QuadradoMagicoJSP/build/
/LoginJSFJDBC/nbproject/private/
/LoginJSFJDBC/build/
/JavaApplication14/nbproject/private/