body{
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 12rem;
}

input[type="button"] {
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: #0971f1;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
